.parent {
  width: 400px;
  height: 400px;
  background-color: lightgray;
  position: relative;
  left: 500px;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.circle.red {
  background-color: red;
  position: fixed;
  left: 100px;
  top: 100px;
}

.circle.green {
  background-color: green;
}

.btn svg {
  width: 50px;
  height: 50px;
  position: relative;
}
.btn svg {
  position: relative;
  top: 10px;
}

.btn:hover svg {
  top: -10px;
  left: 40px;
}

.img-container {
  border: 1px solid black;
  padding: 20px;
  width: 300px;
  position: relative;
  margin: 20px;
  height: 240px;
}

img {
  width: 300px;
  height: auto;
  position: absolute;
  transition: all 0.5s;
}

.img1 {
  opacity: 0;
}

.img2 {
  opacity: 1;
}

.img-container:hover .img1 {
  opacity: 1;
}

.img-container:hover .img2 {
  opacity: 0;
}

.img-container2 {
  border: 1px solid black;
  padding: 20px;
  width: 300px;
  position: relative;
  margin: 20px;
  height: 240px;
}

.img-container2 img {
  position: absolute;
  display: inline-block;
}

.img-container2 .img12 {
  top: 20px;
  left: 20px;
  transition: all 0.5s;
  opacity: 1;
}

.img-container2 .img22 {
  top: 20px;
  position: 520px;
  transition: all 0.5s;
  opacity: 0;
}

.img-container2:hover .img12 {
    left: -520px;
    opacity: 0;
}

.img-container2:hover .img22 {
    left: 20px;
    opacity: 1;
}